.card {
  width: 40%;
  border: solid 1px white;
  padding: 2px !important;
}
.card-title {
  background-color: rgb(32, 32, 32);
  padding: 2% 0 2% 0;
}
.card-body {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.card-footer {
  padding: 2% 2%;
  background-color: rgb(32, 32, 32);
}
.profile {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.profile-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-div svg {
  width: 100%;
  height: auto;
  max-width: 150px; /* Or adjust for your layout */
}
