.my-profile {
    border: 1px solid white;
    padding: 2%;
    border-radius: 10px;
    margin-top: 2%;
}
.clicks-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px; 
    padding: 2%;
    border-radius: 10px;
}
.card-title {
    text-align: center;
}
.card-footer {
    text-align: center;
}