/* .card {
  width: 40%;
  border: solid 1px white;
  padding: 2px !important;
}
.card-title {
  background-color: rgb(32, 32, 32);
  padding: 2% 0 2% 0;
}
.card-body {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}
.card-footer {
  padding: 2% 2%;
  background-color: rgb(32, 32, 32);
} */

.form-container-lookup {
  width: 40%;
  margin: auto;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 3%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease !important;
}
.form-container-lookup:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  margin: auto;
}
 .loolkup-button {
  padding: 4px 10px;
  background-color: rgb(62, 113, 222);
  color: white;
  border: none;
  cursor: pointer;
}
/* .input {
  height: 30px !important;
  font-style: italic;
  padding-left: 7px;
} */
/* title {
  line-height: 1;
  margin: 0;
  padding: 0 !important;
} */

.profile {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.profile-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-div svg {
  width: 100%;
  height: auto;
  max-width: 150px; /* Or adjust for your layout */
}
