.res {
  padding: 2%;
  background: #f4f4f4;
}
.analytics-title {
  display: flex;
  align-items: center !important;
}
.analytics-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}
.chart-blue-btn {
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 4px 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 75px;
}
.chart-blue-btn:hover {
  background-color: rgb(13, 83, 175);
}
@media screen and (max-width: 576px) {
  .analytics-btns {
    display: flex;
    justify-content: space-around;
  }
  .chart-blue-btn {
    border: 1px solid rgb(72, 137, 223);
    border-radius: 14px;
    color: rgb(72, 137, 223);
    background-color: transparent;
    margin-top: 1rem;
    padding: 2px 2px;
  }
  .chart-blue-btn:hover {
    background-color: rgb(13, 83, 175);
    color: white;
  }
}
