.blue-btn {
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-btn:hover {
  background-color: rgb(13, 83, 175);
}

.blue-btn-settings,
.blue-btn-profile {
  width: 180px;
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-btn-settings:hover,
.bule-btn-profile:hover {
  background-color: rgb(13, 83, 175);
}

.blue-btn-image-setting {
  display: inline-flex !important;   
  align-items: center;
  justify-content: center !important;
  height: 2.5rem !important;
  background-color: transparent;
  color: rgb(72, 137, 223);
  border: none;
  padding: 10px 20px;
  font-weight: 500;
   max-width: 100%;
   white-space: nowrap;  
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.blue-btn-image-setting:hover {
  /* background-color: rgb(13, 83, 175); */
  color: rgb(13, 83, 175);
}

.orange-btn-image-setting {
  display: flex;
  align-items: center;
  height: 2.5rem !important;
  background-color: transparent;
  /* background-color: rgb(239, 153, 47); */
  /* color: white; */
  color: rgb(239, 153, 47);
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.orange-btn-image-setting:hover {
  /* background-color: rgb(156, 110, 3); */
  color: rgb(156, 110, 3);
}

.orange-btn {
  background-color: rgb(239, 153, 47);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.orange-btn:hover {
  background-color: rgb(156, 110, 3);
}

.black-btn {
  background-color: rgb(239, 153, 47);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.black-btn:hover {
  background-color: rgb(156, 110, 3);
}

.danger-btn {
  background-color: #dc3545;
  border-color: #dc3545;
}
.danger-btn:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

/* Reports */
.paid-button-admin {
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: default;
}
.unpaid-button-admin,
.handle-lookup {
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.unpaid-button-not-ready-admin {
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: not-allowed;
}
.paid-button-affiliate {
  padding: 4px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: default;
}
.unpaid-button-affiliate {
  padding: 4px 10px;
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: default;
}

.loolkup-button {
  padding: 4px 10px;
  background-color: rgb(62, 113, 222);
  color: white;
  border: none;
  cursor: pointer;
}

.processing-button-admin,
.processing-button-affiliate {
  opacity: 0.85;
  cursor: not-allowed;
  background: #f0ad4e;
  color: #fff;
  border: none;
  padding: 4px 10px;
}

@media screen and (max-width: 576px) {
  .blue-btn-image-setting {
    border: 1px solid rgb(72, 137, 223);
    color: rgb(72, 137, 223);
    padding: 8px 16px;
    border-radius: 8px;
  }
  .blue-btn-image-setting:hover {
    border: 1px solid rgb(13, 83, 175);
    color: rgb(13, 83, 175);
  }

  .orange-btn-image-setting {
    color: rgb(239, 153, 47);
    border: 1px solid rgb(239, 153, 47);
    padding: 8px 12px;
    border-radius: 8px;
  }
  .orange-btn-image-setting:hover {
    /* background-color: rgb(156, 110, 3); */
    color: rgb(156, 110, 3);
    border: 1px solid rgb(156, 110, 3);
  }
}
