.blue-btn {
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-btn:hover {
  background-color: rgb(13, 83, 175);
}
.blue-btn-settings,
.blue-btn-profile {
  width: 180px;
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-btn-settings:hover,
.bule-btn-profile:hover {
  background-color: rgb(13, 83, 175);
}

.orange-btn {
  background-color: rgb(239, 153, 47);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.orange-btn:hover {
  background-color: rgb(156, 110, 3);
}

.black-btn {
  background-color: rgb(239, 153, 47);
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.black-btn:hover {
  background-color: rgb(156, 110, 3);
}
/* 
.product-button {
  background-color: rgb(72, 137, 223);
  color: white;
  border: none;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
  height: 40px;
  width: 90px;
}
.product-button:hover {
  background-color: rgb(13, 83, 175);
} */

/* Profile */
 /* .upload-btn {
  margin-top: 12px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 14px;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #e0e0e0;
} */

.danger-btn {
  background-color: #dc3545;
  border-color: #dc3545;
}
.danger-btn:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

/* Reports */
.paid-button-admin {
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: default;
}
.unpaid-button-admin,
.handle-lookup {
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.unpaid-button-not-ready-admin {
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: not-allowed;
}
.paid-button-affiliate {
  padding: 4px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: default;
}
.unpaid-button-affiliate {
  padding: 4px 10px;
  background-color: #ffc107;
  color: white;
  border: none;
  cursor: default;
} 

 .loolkup-button {
  padding: 4px 10px;
  background-color: rgb(62, 113, 222);
  color: white;
  border: none;
  cursor: pointer;
}

.processing-button-admin,
.processing-button-affiliate {
  opacity: 0.85;
  cursor: not-allowed;
  /* pick your colors */
  background: #f0ad4e; /* amber-ish */
  color: #fff;
}
