.detailed-report-container {
  padding: 2%;
}
.view-line-div {
  padding-left: 2%;
  padding-top: 1%;
}
.view-line {
  cursor: pointer;
  color: rgb(14, 142, 234);
  text-decoration: underline;
  padding-left: 1%;
}
.pis-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1%;
}
.pdf-print-line {
  width: 95%;
  display: flex;
  justify-content: center;
}
.pifile,
.piprint {
  color: rgb(77, 74, 74) !important;
  cursor: pointer;
  height: 8%;
  width: 8%;
  padding: 0 0 0 5%;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 3%;
}
.ioclose {
  color: rgb(119, 113, 113) !important;
  cursor: pointer;
  height: 90%;
  width: 90%;
}

thead {
  padding-top: 18px !important;
  background-color: #f8f9fa;
  font-weight: 600;
  color: #333;
}

.cell-style-top {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #222;
  padding: 8px;
  text-align: center;
}

.cell-style {
  color: #333;
  font-size: 0.95rem;
}

.th,
td {
  /* border: 1px solid #cccccc; */
  padding: 8px;
  text-align: left;
  color: black;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #eaeaea !important;
}

tbody tr:hover {
  background-color: #f1f3f5;
  transition: background 0.2s ease;
}
/* button {
  padding: 6px 12px;
  font-size: 0.85rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

/* Admin Pay Button */
/* .unpaid-button-admin {
  background-color: #007bff;
  color: white;
} */

/* .paid-button-admin {
  background-color: #28a745;
  color: white;
  cursor: default;
} */

/* Affiliate unpaid indicator */
/* .unpaid-button-affiliate {
  background-color: #ffc107;
  color: black;
  cursor: default;
} */

/* .paid-button-affiliate {
  background-color: #28a745;
  color: white;
   cursor: default;
} */

/* button:disabled {
  cursor: not-allowed;
} */

/* button:disabled:hover {
  cursor: default;
} */

/* Zebra effect */
tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* #pdf-content {
  font-family: Arial, sans-serif;
  color: black;
  background-color: white; 
}

#pdf-content td, 
#pdf-content th {
  border: 1px solid #ccc;
  padding: 8px;
  color: black; 
} */
@media print {
  .print {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 1rem;
    font-weight: bold;
  }
}
