.footer-container {
  margin-top: 5%;
  padding: 5% 0 2% 0;
  background-color: black;
  width: 100vw !important;
}
.list-unstyled,
.list-inline {
  text-align: center;
}
.footer-h5 {
  color: white;
  text-align: center;
}
.footer-row {
  justify-content: center;
}
