@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Montserrat:wght@400;600&display=swap");

.header-container {
  /* margin: 0; */
  height: 320px;
  padding-top: 3%;
  text-align: center;
  margin: auto;
}
.header-not-loggedIn {
  height: 380px;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}
.text-spans {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

.princeton {
  color: orange;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.green {
  color: green;
}

.affiliate-programm {
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
  color: rgb(215, 207, 207);
}
