.top-nav-div {
  /* padding-top: 5px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}
.logo-nav {
  margin-left: 1%;
  width: 3%;
  height: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.profile-nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.person-nav {
  font-size: 32px;
}
.profile-div svg {
  width: 100%;
  height: auto;
  max-width: 150px;
}
.log-out-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.iomdlogout-nav {
  padding-left: 7px;
  height: 35px;
  width: 35px;
  color: black !important;
}
.navigation-bar-container {
 height: 320px;
 padding: 1% 1% 0 1%;
}
.navbar {
  display: flex;
  justify-content: flex-end !important;
  gap: 20px;
  /* background: #f4f4f4; */
  padding: 1rem !important;
}
.navbar a {
  text-decoration: none;
  color: white;
  /* color: black; */
  font-weight: bold;
}
.navbar a.active {
  color: rgb(72, 137, 223);
  border-bottom: 2px solid rgb(80, 130, 229);
}
