.top-nav-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.top-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}
.logo-nav {
  margin-left: 1%;
  width: 3%;
  height: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.profile-nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.person-nav {
  font-size: 32px;
}
.profile-div svg {
  width: 100%;
  height: auto;
  max-width: 150px;
}
.log-out-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.iomdlogout-nav {
  padding-left: 7px;
  height: 35px;
  width: 35px;
  color: black !important;
}
.navigation-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding: 0; */
  padding-right: 2%;
  position: sticky;
  top: 70px;
  z-index: 90;
}
.navbar {
   height: 5%;
  display: flex;
  justify-content: flex-end !important;
  gap: 20px;
  /* position: fixed; */
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid transparent; /* fixes jump */
}
.navbar a.active {
  color: rgb(72, 137, 223);
  border-bottom: 2px solid rgb(80, 130, 229);
}
