.top-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.profile-nav {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}

.person-nav {
  font-size: 32px;
}
.profile-div svg {
  width: 100%;
  height: auto;
  max-width: 150px; /* Or adjust for your layout */
}
.log-out-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.iomdlogout-nav {
  height: 30px;
  width: 30px;
}
.navbar {
  display: flex;
  gap: 20px;
  background: #f4f4f4;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar a.active {
  color: rgb(72, 137, 223);
  border-bottom: 2px solid rgb(80, 130, 229);
}
