.notification-form {
  width: 60%;
  margin: auto;
  padding: 2%;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
  font-family: "Segoe UI", Roboto, sans-serif;
  /* transition: box-shadow 0.2s ease !important; */
}

.notification-form:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  margin: auto;
}

.notification-form h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.notification-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.notification-form input,
.notification-form textarea {
  width: 100%;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  padding: 1%;
}

.notification-form input:focus,
.notification-form textarea:focus {
  width: 100%;
  border-color: #0077ff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.button-div-notification-form {
  display: flex;
  justify-content: center;
}

.notification-form p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}

.notification-form p.success {
  color: #2e8b57;
}

.notification-form p.error {
  color: #cc0000;
}
