.stripe-banner-div {
  animation: slideIn 0.3s ease 0.1s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #715a14;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: #a7867b;
}
.stripe-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-close-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.stripe-text {
  margin: 0;
  font-size: 1rem;
  color: #a7867b;
  flex: 1;
}
.stripe-actions {
  display: flex;
  gap: 0.75rem;
  margin-left: 1rem;
}

.stripe-close {
  background: none;
  border: none;
  font-size: 2rem;
  color: #797c7c;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
